body {
    margin: 0px;
    padding: 0px;
    background-color: #03396c !important;
}

#wrap {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#blurb {
    text-align: center;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.line-reveal {
    width: 120%;
    height: 3px;
    overflow: hidden;
    position: absolute;
}

.overlay {
    background: #03396c;
    height: 10px;
    position: absolute;
    top: -5px;
    width: 100%;
    transform-origin: 100% 0;
    animation: wipe 3s ease;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.line1,
.line2,
.line3 {
    border: 3px dashed white;
    backface-visibility: hidden;
}

#line-a {
    left: 0;
    top: 60%;
    transform-origin: 0 0;
    transform: rotate(-50deg);
}

.line1 {
    border-color: #ff9900;
}

#line-b {
    left: 0;
    bottom: 20%;
    transform-origin: 0 0;
    transform: rotate(-5deg);
}

.overlay {
    animation-delay: .5s;
}

.line2 {
    border-color: #ff0099;
}

#line-c {
    right: 10%;
    bottom: 0;
    transform-origin: 100% 0;
    transform: rotate(70deg);
}

.overlay {
    animation-delay: 1s;
}

.line3 {
    border-color: #0099ff;
}

@keyframes wipe {
    to {
        transform: scaleX(0);
    }
}

.navbar {
    z-index: 9999
}