{% extends 'base.html' %} {% block title %}What's News!{% endblock %} {% block body %} {%for i in range(0, len)%} {% if i%5 == 0 %}
<div class="card-group">
    {% endif %}
    <div class="card" style="margin:2px;">
        <img class="card-img-top" src={{objects[i][ "img"]}} alt="Card image cap">
        <div class="d-flex flex-column card-body">
            <h5 class="card-title"></h5>
            <p class="card-text">{{objects[i]["text"]}}</p>
            <a href=https://www.vogue.in/{{objects[i][ "url"]}} class="mt-auto btn btn-primary">View full story</a>
            <!-- <a href="#" class="btn btn-light" style="margin-top: 5px;background-color:lightpink">3D Try on!</a> -->
        </div>
    </div>
    {% if i%5 == 4 %}
</div>
{% endif %} {%endfor%} {% endblock %}