{% extends 'base.html' %} {% block title %}Styler{% endblock %} {% block body %}
<div id="wrap">
    <div id="blurb">
        <h1 style="color:orange;">Welcome to Styler!</h1>
        <h5 style="color:#66b3ff;">Latest fashion recommender based on AI</h5>
    </div>

    <div class="line-reveal" id="line-a">
        <div class="overlay"></div>
        <div class="line1"></div>
    </div>

    <div class="line-reveal" id="line-b">
        <div class="overlay"></div>
        <div class="line2"></div>
    </div>

    <div class="line-reveal" id="line-c">
        <div class="overlay"></div>
        <div class="line3"></div>
    </div>

</div>
{% endblock %}