{% extends 'base.html' %} {% block title %}What's on Insta!{% endblock %} {% block body %} {%for i in range(0, len)%} {% if i%5 == 0 %}
<div class="card-deck">
    {% endif %}
    <div class="card" style="width: 25rem;margin:7px">
        <img class="card-img-top" src={{objects[i]}} alt="Card image cap">
        <div class="d-flex flex-column card-body">
            <h5 class="card-title"></h5>
            <a href={{objects[i]}} class="mt-auto btn btn-primary">View full size</a>
            <a href="#" class="btn btn-light" style="margin-top: 5px;background-color:lightpink">3D Try on!</a>
            <h6>Did you like it?</h6>
            <!-- star rating  -->
        </div>
    </div>
    {% if i%5 == 4 %}
</div>
{% endif %} {%endfor%} {% endblock%}